*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #d2deec;
}

.qr-window{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 290px;
  height: 450px;
  background-color:#fefefc;
  border-radius: 10px;
}

.qr-img{
  width: 260px;
  height: 260px;
  background: #fefefc;
  border-radius: 10px;
  margin: 15px 15px;
}

/*
#141a2a
#84858a
*/