*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

body{
  background: hsl(212, 45%, 89%);
}

main{
  width: 100vw;
  height: 100vh;
  display: flex;
	align-items: center;
	justify-content: center;
}

.qr-window{
  /*
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  */
  
  width: 290px;
  height: 450px;
  background-color:hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 10px 20px #0000003b;
}

.qr-img{
  width: 260px;
  height: 260px;
  background: #fefefc;
  border-radius: 10px;
  margin: 15px 15px;
}

h1{
  color:hsl(218, 44%, 22%);
  margin: 0px 20px;
  font-size: 1.25em;
  font-weight: 700;
}
h2{
  color:hsl(220, 15%, 55%);
  margin: 10px 20px;
}
