*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  background-color: #36384d;
}

.window{
  background-color: #ffffff;
  //width: 100%;
  //height: 100vh;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}

ul {
  li::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../images/icon-list.svg');
    background-size: cover;
    margin: 0 10px 0 10px;
  }
}

button{
  cursor: pointer;
  color: white;
  text-decoration: none;
  text-shadow:0px 1px 0px #3d768a;
  background:#232742;
  box-shadow: 0px 10px 14px -7px #276873;
	border-radius:8px;
	display:inline-block;
	
  


  :hover{
    color: hsl(236, 100%, 87%);
    background:linear-gradient(to right, #ff527b 100%, #fd6839 100%);
  }
  :active{
    color: hsl(236, 100%, 87%);
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  a { 
    color: hsl(235, 18%, 26%); 
  }
}